In [9]:
# Import required packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
# Load CSV file into a Pandas DataFrame
file_path = "../data/formatted_ed2022.csv"
df = pd.read_csv(file_path)

C:\Users\priya\AppData\Local\Temp\ipykernel_33360\2085720046.py:3: DtypeWarning: Columns (88,133,298,373,377,381,385,393,397,401,405,413,417,421,425,432,433,436,437,440,441,444,445,452,453,456,457,460,461,463,464,465,472,473,476,477,480,481,483,484,485,491,492,493,495,496,497,499,500,501,503,504,505,511,512,513,515,516,517,519,520,521,523,524,525,531,532,533,535,536,537,539,540,541,543,544,545,551,552,553,555,556,557,559,560,561,562,563,564,565,571,572,573,575,576,577,579,580,581,583,584,585,591,592,593,595,596,597,599,600,601,602,603,604,605,611,612,615,616,619,620,622,623,624,631,632,635,636,639,640,642,643,644,646,647,648,649,650,651,652,654,655,656,658,659,660,662,663,664,666,667,668,669,670,671,672,674,675,676,678,679,680,682,683,684,686,687,688,689,690,691,692,694,695,696,698,699,700,702,703,704,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,725,726,727,728,729,730,731,732,734,735,736,738,739,740,742,743,744,746,747,748,749,750,751,752,754,755,756,758,759,760,762,763,764,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,794,795,796,798,799,800,802,803,806,807,808,809,810,811,814,815,818,819,822,823,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,854,855,858,859,862,863,866,867,868,869,870,874,878,882,886,887,888,889,890,891,894,895,898,899) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [12]:
# Print basic descriptive statistics
print("Dataset Info:")
df.info()
print("\nFirst 10 rows:")
display(df.head(10))

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16025 entries, 0 to 16024
Columns: 913 entries, VMONTH to BOARDED
dtypes: float64(89), object(824)
memory usage: 111.6+ MB

First 10 rows:

,VMONTH,VDAYR,ARRTIME,WAITTIME,LOV,AGE,AGER,AGEDAYS,RESIDNCE,SEX,...,RX30V3C2,RX30V3C3,RX30V3C4,SETTYPE,YEAR,CSTRATM,CPSUM,PATWT,EDWT,BOARDED
0,September,Monday,6:04 a.m.,10.0,228.0,23.0,15-24 years,One year or more,Private residence,Female,...,NaN,NaN,NaN,NHAMCS - ED,2022.0,20122201.0,100001.0,3665.56954,8.36413,-7.0
1,September,Monday,10:53 a.m.,40.0,319.0,15.0,15-24 years,One year or more,Private residence,Male,...,NaN,NaN,NaN,NHAMCS - ED,2022.0,20122201.0,100001.0,3665.56954,NaN,-7.0
2,September,Monday,2:19 p.m.,70.0,551.0,19.0,15-24 years,One year or more,Private residence,Male,...,NaN,NaN,NaN,NHAMCS - ED,2022.0,20122201.0,100001.0,3665.56954,NaN,-7.0
3,September,Monday,6:25 p.m.,Not Applicable,Blank,Under one year,Under 15 years,298.0,Private residence,Male,...,NaN,NaN,NaN,NHAMCS - ED,2022.0,20122201.0,100001.0,3665.56954,NaN,-7.0
4,September,Monday,10:43 p.m.,14.0,168.0,18.0,15-24 years,One year or more,Private residence,Female,...,NaN,NaN,NaN,NHAMCS - ED,2022.0,20122201.0,100001.0,3665.56954,NaN,-7.0
5,September,Tuesday,9:03 a.m.,2.0,113.0,39.0,25-44 years,One year or more,Private residence,Male,...,NaN,NaN,NaN,NHAMCS - ED,2022.0,20122201.0,100001.0,3665.56954,NaN,-7.0
6,September,Tuesday,2:28 p.m.,34.0,72.0,44.0,25-44 years,One year or more,Private residence,Female,...,NaN,NaN,NaN,NHAMCS - ED,2022.0,20122201.0,100001.0,3665.56954,NaN,-7.0
7,September,Tuesday,6:30 p.m.,13.0,Blank,46.0,45-64 years,One year or more,Private residence,Male,...,NaN,NaN,NaN,NHAMCS - ED,2022.0,20122201.0,100001.0,3665.56954,NaN,-7.0
8,September,Wednesday,5:32 a.m.,109.0,113.0,46.0,45-64 years,One year or more,Private residence,Male,...,NaN,NaN,NaN,NHAMCS - ED,2022.0,20122201.0,100001.0,3665.56954,NaN,-7.0
9,September,Wednesday,4:38 p.m.,64.0,145.0,19.0,15-24 years,One year or more,Private residence,Male,...,NaN,NaN,NaN,NHAMCS - ED,2022.0,20122201.0,100001.0,3665.56954,NaN,-7.0

In [13]:
# Print summary statistics
print("Summary statistics:")
display(df.describe(include='all'))

Summary statistics:

,VMONTH,VDAYR,ARRTIME,WAITTIME,LOV,AGE,AGER,AGEDAYS,RESIDNCE,SEX,...,RX30V3C2,RX30V3C3,RX30V3C4,SETTYPE,YEAR,CSTRATM,CPSUM,PATWT,EDWT,BOARDED
count,16025,16025,16025,16025,16025,16025,16025,16025,16025,16025,...,0.0,0.0,0.0,16025,16025.0,1.602500e+04,16025.000000,16025.000000,188.000000,16025.000000
unique,12,7,1437,398,1436,95,6,244,6,2,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
top,February,Monday,Unknown,Blank,Blank,Under one year,25-44 years,One year or more,Private residence,Female,...,NaN,NaN,NaN,NHAMCS - ED,NaN,NaN,NaN,NaN,NaN,NaN
freq,1619,2631,243,2173,697,428,4170,15597,14952,8465,...,NaN,NaN,NaN,16025,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2022.0,2.998318e+07,51466.689672,9697.207274,24.947133,15.042309
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,9.972729e+06,50022.713918,9713.634061,23.856150,167.678270
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2022.0,2.012220e+07,1.000000,89.854880,1.522020,-9.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2022.0,2.032220e+07,14.000000,3166.616040,8.612077,-7.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2022.0,2.042220e+07,100002.000000,6523.824650,18.455625,-7.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2022.0,4.020000e+07,100108.000000,11760.943390,31.665630,-7.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2022.0,4.040000e+07,100185.000000,57925.500190,104.492680,4206.000000